include         LICENSE
include         MANIFEST.in
include         version.txt
graft           bin
graft           conf
exclude         conf/*.conf
graft           src/collectors
global-exclude  */tests/*
recursive-exclude src/collectors/*/test *
